<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body class="light-mode">
    <div class="login-container">
        <div class="login-box">
            <h1 class="fst-italic w-100 p-5 circle bg-black text-white text-center border border-white rounded">
                CineLib
            </h1>
            
            <h3 class="text-center">Login</h3>
            
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <form action="{{ url_for('login') }}" method="POST">
                <!-- Campo de Login -->
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                </div>
                
                <!-- Campo de Senha -->
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>
                
                <!-- Botão Entrar -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-dark w-100">Entrar</button>
                </div>
            </form>
            
            <!-- Esqueceu a Senha e Criar Novo Usuário -->
            <div class="text-center">
                <a href="#" class="d-block mb-2">Esqueceu a senha?</a>
                <!-- Botão Criar Novo Usuário -->
                <a href="{{ url_for('register') }}" class="btn btn-outline-primary w-100">Criar novo usuário</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
