<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="{{ url_for('home') }}" class="text-light text-decoration-none fst-italic">CineLib</a>
        </div>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pageBiblioteca') }}">Biblioteca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pageRecomedacao') }}">Recomendações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('pagePerfil')}}">Perfil</a>
                </li>
            </ul>

            <a href="#" id="search-icon">
                <img src="../static/images/icons/bx-search-white.svg" alt="Pesquisar" class="h-500">
            </a>

            <div id="search-box" style="display: none;">
                <input type="text" id="search-input" placeholder="Digite sua busca...">
                <button id="search-button">Buscar</button>
            </div>

            <a href="{{ url_for('logout') }}">Sair</a>
        </div>
    </div>
</nav>

<script>
    document.getElementById('search-icon').addEventListener('click', function(event) {
        event.preventDefault(); // Impede o comportamento padrão do link
    
        var searchBox = document.getElementById('search-box');
        if (searchBox.style.display === 'none') {
            searchBox.style.display = 'block'; // Mostra o input de busca
        } else {
            searchBox.style.display = 'none'; // Esconde o input de busca
        }
    });
    
    document.getElementById('search-button').addEventListener('click', function() {
        var searchTerm = document.getElementById('search-input').value;
        if (searchTerm) {
            alert('Você buscou por: ' + searchTerm); // Exemplo de ação de busca
        }
    });
    
    
</script>
    
