<!DOCTYPE html>
<html lang="en">
        
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- CSS -->
        


        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    </head>

    <body class="light-mode">

        {% include 'navbar.html' %}  <!--  Importando a Navbar -->
        
        <div class="home">
            <section class="section-adicionados-recetemente">
                <h2 class="text-white">Filmes e séries da atualidade</h2>
            
                <div class="section-adicionados-recetemente-cards row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="filmeSerie.html" class="text-decoration-none text-reset">
                            <div class="card">
                                <img class="card-img-top" src="/assets/images/filmes_series/batman-cavaleiro-das-trevas.jpeg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <p class="card-text text-center">Batman Cavaleiro das trevas</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/wall-e.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Wall-e</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/deadpool.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Deadpool vs Wolverine</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/interstelar.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Interstelar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-adicionados-recetemente">
                <h2 class="text-white">Com base no seu gosto</h2>
            
                <div class="section-adicionados-recetemente-cards row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/the-big-bang-theory.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">The big bang theory</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top card-medidas" src="/assets/images/filmes_series/doctor-who.jpg" alt="Imagem de capa do card" >
                            <div class="card-body">
                                <p class="card-text text-center">Doctor Who</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top card-medidas" src="/assets/images/filmes_series/creature-commands.jpg" alt="Imagem de capa do card" >
                            <div class="card-body">
                                <p class="card-text text-center">Creature Commands</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/the-penguin.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">The Penguin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
