<!DOCTYPE html>
<html lang="en">
        
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <!-- CSS -->
        <link rel="stylesheet" href="../assets/css/global.css">
        <link rel="stylesheet" href="/assets/css/home.css">
        <link rel="stylesheet" href="/assets/css/navbar.css">

    
    </head>

    <body class="light-mode">

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
              <!-- Links da navbar -->
                <div class="navbar-brand">
                    <a href="home.html " class="text-light text-decoration-none fst-italic ">CineLib</a>
                </div>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="biblioteca.html">Biblioteca</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="recomendacoes.html">Recomendações</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                        </li>
                    </ul>
                
                    <!-- Campo de pesquisa -->
                    <a href="/pages/pesquisar.html">
                        <img src="/assets/images/icons/bx-search-white.svg" alt="" class="h-500">
                    </a>
                </div>
            </div>
          </nav>

          <div class="home">
            <section class="section-filmes py-3">
                <h2 class="text-white">Movies</h2>
        
                <div class="section-adicionados-recetemente-cards row g-3">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <a href="filmeSerie.html" class="text-decoration-none text-reset">
                            <div class="card">
                                <img class="card-img-top" src="/assets/images/filmes_series/batman-cavaleiro-das-trevas.jpeg" alt="Imagem de capa do card">
                                <div class="card-body">
                                    <p class="card-text text-center">Batman Cavaleiro das trevas</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/wall-e.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Wall-e</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/deadpool.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Deadpool vs Wolverine</p>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/interstelar.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">Interstelar</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="section-series py-3">
                <h2 class="text-white">Series</h2>
        
                <div class="section-adicionados-recetemente-cards row g-3">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/the-big-bang-theory.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">The big bang theory</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top card-medidas" src="/assets/images/filmes_series/doctor-who.jpg" alt="Imagem de capa do card" >
                            <div class="card-body">
                                <p class="card-text text-center">Doctor Who</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top card-medidas" src="/assets/images/filmes_series/creature-commands.jpg" alt="Imagem de capa do card" >
                            <div class="card-body">
                                <p class="card-text text-center">Creature Commands</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img class="card-img-top" src="/assets/images/filmes_series/the-penguin.jpeg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <p class="card-text text-center">The Penguin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
