.container-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Usa 100vh para ocupar toda a altura da janela */
    background-color: #ffffff;
}

  /* Estilos para a caixa do formulário */
.form-container {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Estilo para o título */
.form-container h2 {
    margin-bottom: 30px;
}

